<!DOCTYPE html>
<html>
    <head>
        <title>Garbage SYSTEM</title>
        <link rel="stylesheet" href="/static/app.css">
    </head>
    <body>
        <h1>Garbage SYSTEM</h1>
        <h2>Location</h2>
        <div id="map"></div>
        <script src="/static/location.js"></script>
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyD9HjJjMLJhfIk3BhlZyT2Z0ytxDXPJUEk&callback=initMap&lang=ja"></script>
        <h2>
            <a href="/register">Register</a>
        </h2>
    </body>
</html>